extends pagewrapper

//- Override config.jade file
append page-config
	- var PageTitle = 'Dgraph: Fastest graph database in the market'
	- var PageClass = 'homepage'
	- var PageIntroClass = 'homepage'
	- var PageContentClass = 'homepage'
	- var AlternateHeader = true

//- Begin
block additional-styles
	// CSS styles for Demo section
	//- link(rel="stylesheet" href="assets/css/demo-section/bootstrap.css" type="text/css")
	//- link(rel="stylesheet" href="assets/css/demo-section/color-red-medium.css" type="text/css")
	//- link(rel="stylesheet" href="assets/css/demo-section/html5-boilerplate-main.css")
	//- link(rel="stylesheet" href="assets/css/demo-section/main.css")
	// CSS styles are modified and implemented in `vendor/demo-section/_demo-section.less`

	// Fonts for demo section
	link(href="assets/fonts/demo-section/font-awesome.min.css" rel="stylesheet" type="text/css")

block partials
	//- include partials/modals/modal
	//- include partials/overlays/overlay

block page-intro
	.container
		.row
			.col-12
				.bolt-image__wrapper
					.bolt-image.bolt-image--bottom-front
					.bolt-image.bolt-image--bottom-back
				// /.bolt-image__wrapper--bottom
				
				.page-intro__header-content
					header.page-intro__header
						h1.page-intro__title.page-intro__title--emphasized Fastest graph database
						p.page-intro__lead
							span.page-intro__brand Dgraph
							|  is an open source, distributed, and highly available graph database, built to scale horizontally.
					
					.page-intro__actions
						a.btn.btn-main.page-intro__cta.page-intro__cta-install(href="https://docs.dgraph.io/get-started/") Try it
						a.btn.btn-transparent.page-intro__cta.page-intro__cta-learn(href="https://tour.dgraph.io/") Take a tour

block page-content

	.dg-features
		.container
			.row
				.col-12
					ul.dg-features__list
						li.dg-features__item
							.dg-features__figure
								img(src="assets/images/homepage/feature-01.svg", alt="Image for low latency, high throughput feature").dg-features__image
							.dg-features__description
								h4.dg-features__title Low Latency, High Throughput
								p Low enough latency to serve real time queries over terabytes of structured data.
						li.dg-features__item
							.dg-features__figure
								img(src="assets/images/homepage/feature-02.svg", alt="Image for distributed and scalable feature").dg-features__image
							.dg-features__description
								h4.dg-features__title Distributed and Scalable
								p Easily scale to multiple machines thanks to the sharded storage and minimal network calls.
						li.dg-features__item
							.dg-features__figure
								img(src="assets/images/homepage/feature-03.svg", alt="Image for open source feature").dg-features__image
							.dg-features__description
								h4.dg-features__title Open Source
								p Written entirely in Go, Dgraph is available under open-source license.
					// /.demo-features

	.dg-testimonials
		.container
			.row
				.col-12
					h2.section-header.dg-testimonials__header What Users Are Saying
					
					#dg-testimonials__carousel.carousel.slide(data-ride='carousel')
						.carousel-inner(role='listbox')
							.carousel-item.dg-testimonials__item.active
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						a.carousel-control-prev(href='#dg-testimonials__carousel',	role='button',	data-slide='prev')
							span.carousel-control-prev-icon(aria-hidden='true')
							span.sr-only	Previous
						a.carousel-control-next(href='#dg-testimonials__carousel',	role='button',	data-slide='next')
							span.carousel-control-next-icon(aria-hidden='true')
							span.sr-only Next
							
						ol.carousel-indicators
							li.active(data-target='#dg-testimonials__carousel',	data-slide-to='0')
							li(data-target='#dg-testimonials__carousel',	data-slide-to='1')
							li(data-target='#dg-testimonials__carousel',	data-slide-to='2')



block additional-scripts
	// JavaScript files for Demo section

	script(src="assets/js/demo-section/angular/angular.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ext-language_tools.js")
	script(src="assets/js/demo-section/angular-ui-ace/ui-ace.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js")
	script(src="assets/js/demo-section/typeahead.min.js")
	script(src="assets/js/demo-section/Unminifed/app.js?v=20170504")
	script(type="text/javascript" src="assets/js/demo-section/jquery.appear.min.js")
	script(type="text/javascript" src="https://cdn.ravenjs.com/3.15.0/raven.min.js")
	script.
		Raven.config("https://b8060dd457e94b42ace70a3a899d0175@sentry.io/166298").install();
