extends pagewrapper

//- Override config.jade file
append page-config
	- var PageTitle = 'Dgraph — Fastest Graph Database in the Market'
	- var PageClass = 'homepage'
	- var PageIntroClass = 'homepage'
	- var PageContentClass = 'homepage'
	- var HideHeader = true
	
//- Begin
block additional-styles
	// CSS styles for Demo section
	//- link(rel="stylesheet" href="assets/css/demo-section/bootstrap.css" type="text/css")
	//- link(rel="stylesheet" href="assets/css/demo-section/color-red-medium.css" type="text/css")
	//- link(rel="stylesheet" href="assets/css/demo-section/html5-boilerplate-main.css")
	//- link(rel="stylesheet" href="assets/css/demo-section/main.css")
	// CSS styles are modified and implemented in `vendor/demo-section/_demo-section.less`

	// Fonts for demo section
	link(href="assets/fonts/demo-section/font-awesome.min.css" rel="stylesheet" type="text/css")

block partials
	//- include partials/modals/modal
	//- include partials/overlays/overlay

block page-intro
	.page-intro__main
	
		.container
			.row.hidden-xs-down
				.col-12
					.page-intro__nav-container
						.github-star-container
							a.github-button(href='https://github.com/dgraph-io/dgraph', data-size='large', data-show-count='true', aria-label='Star dgraph-io/dgraph on GitHub') Star

						ul.page-intro__nav-list
							li.page-intro__nav-item
								a.page-intro__nav-link(href="https://github.com/dgraph-io/dgraph" target="_blank") Code
							li.page-intro__nav-item.sub-menu-parent
								a.page-intro__nav-link.page-intro__nav-dropdown-trigger(href='#') Read
								ul.sub-menu
									li
										a(href="https://docs.dgraph.io" target="_blank") Docs
									li
										a(href="https://tour.dgraph.io" target="_blank") Tour
									li
										a(href="https://open.dgraph.io" target="_blank") Blog
							li.page-intro__nav-item.sub-menu-parent
								a.page-intro__nav-link.page-intro__nav-dropdown-trigger(href='#') Talk
								ul.sub-menu
									li
										a(href="https://slack.dgraph.io" target="_blank") Slack
									li
										a(href="https://discuss.dgraph.io" target="_blank") Forum
							li.page-intro__nav-item
								a.page-intro__nav-link(href="https://docs.dgraph.io/get-started/" target="_blank") Install


			.row
				.col-sm-6.col-md-5.offset-md-1.hidden-xs
					.page-intro__intro-section
						img.diggy(src="assets/images/homepage/diggy-shadow.png")
				.col-12.col-sm-6.col-md-5
					.page-intro__intro-section
						img.page-intro__logo(src="assets/images/logo-glow.png")
						
						h1.page-intro--homepage__title
							| Fastest graph database in the market.
							
						p.page-intro__desc
							| Meet Dgraph —  an open source, scalable, distributed, highly available and fast graph database, designed from ground up to be run in production.

block page-content

	.page-content__features-container
		.container.page-content__features-content
			ul.dg-features__list
				li.dg-features__item
					.dg-features__figure
						img(src="assets/images/homepage/feature-01.svg", alt="Image for low latency, high throughput feature").dg-features__image
					.dg-features__description
						h4.dg-features__title Low Latency, High Throughput
						p Storage layer of Dgraph is designed for efficient retrieval, it offers low enough latency to be serving real time user queries, over terabytes of structured data
				li.dg-features__item
					.dg-features__figure
						img(src="assets/images/homepage/feature-02.svg", alt="Image for distributed and scalable feature").dg-features__image
					.dg-features__description
						h4.dg-features__title Distributed and Scalable
						p Easily scale to multiple machines, or datacenters. Dgraph's sharded storage and query processing were specifically designed to minimize the number of network calls.
				li.dg-features__item
					.dg-features__figure
						img(src="assets/images/homepage/feature-03.svg", alt="Image for open source feature").dg-features__image
					.dg-features__description
						h4.dg-features__title Open Source
						p Written entirely in Go, Dgraph is available under open-source license.
			// /.demo-features

	.dg-introduction
		.container
			.row
				.col-12.col-sm-12.col-md-6
					.embed-responsive.embed-responsive-16by9
						iframe(src='https://www.youtube.com/embed/cHXbYLNa0qQ', allowfullscreen='')
				.col-12.col-sm-12.col-md-6
					.dg-introduction-desc
						h3.heading
							| Distributed by design.
						p.desc
							| Dgraph can easily scale to multiple machines, or datacenters. Its sharded storage and query processing were specifically designed to minimize the number of network calls.
							
						a.btn.btn-main.btn-cta(href="https://docs.dgraph.io/faq/" target="_blank")
							| Learn More 
							i.fa.fa-arrow-right

	
	.demo__wrapper.hidden-xs.hidden-sm
		.demo
			.container
				.row
					.col-12
						header.section-header
							h2.section-header__title Distributed joins are a cakewalk

							p.section-header__lead Dgraph can run complex distributed queries involving filters, string matching, pagination, sorting and geolocations blazingly fast.
	
						.demo-console
							header.demo-console__header
								h5.demo-console__title Play with 21M facts from <a href="https://developers.google.com/freebase/" target="_blank">Freebase Film Data</a> loaded up on demo Dgraph instance, via <a href="https://docs.dgraph.io/master/query-language/" target="_blank">GraphQL+-</a> in real time.
	
							include partials/demo-section/demo.html
	
						// /.demo-console
		// /.demo
	// /.demo__wrapper
	
	
	.dg-testimonials.bg-dim
		.container
			.row
				.col-12
					h2.section-header.dg-testimonials__header What Users Are Saying
						
					#dg-testimonials__carousel.carousel.slide(data-ride='carousel')
						ol.carousel-indicators
							li.active(data-target='#dg-testimonials__carousel', data-slide-to='0')
							li(data-target='#dg-testimonials__carousel', data-slide-to='1')
							li(data-target='#dg-testimonials__carousel', data-slide-to='2')

						// Wrapper for slides
						.carousel-inner(role='listbox')
							.carousel-item.item.dg-testimonials__item.active
								| I have worked extensively with Titan, some with Neo4j, and played around with Cayley, and Dgraph was fastest for the way I am doing things.
							.carousel-item.item.dg-testimonials__item
								| Dgraph is so fast that its performance is almost ridiculous.
							.carousel-item.item.dg-testimonials__item
								| This is really exciting. I've been hoping for a robust, distributed open source Graph database ever since Firebase
						a.left.carousel-control.carousel-control-prev(href='#dg-testimonials__carousel', role='button', data-slide='prev')
							i.fa.fa-arrow-left
							span.sr-only Previous
						a.right.carousel-control.carousel-control-prev(href='#dg-testimonials__carousel', role='button', data-slide='next')
							i.fa.fa-arrow-right
							span.sr-only Next

	.press
		.container
			.row
				.col-12
					h2.section-header Dgraph in the News
					// /.press-inline
					.press-logo
						.press-logo__row
							.press-logo__item
								a.hn(href="https://hn.algolia.com/?query=dgraph&sort=byPopularity&prefix&page=0&dateRange=all&type=story" target="_blank")
									img(src="assets/images/in-news/hn-alt.png", alt="Hacker News")
							.press-logo__item
								a(href="http://www.afr.com/technology/cannonbrookes-blackbird-bain-back-new-migrants-graph-startup-20160517-goxglw" target="_blank")
									img(src="assets/images/in-news/fr.jpg", alt="Financial Review")
							.press-logo__item
								a(href="http://www.startupsmart.com.au/advice/funding/two-failed-startups-later-ex-google-employee-secures-1-45-million-in-funding-and-backing-of-atlassians-co-founder/" target="_blank")
									img(src="assets/images/in-news/ss.jpg", alt="Startup Smart")
					div.hn-list
						ul.press__list
							li.press__item: a(href="https://news.ycombinator.com/item?id=11322444" target="_blank").press__link DGraph – Scalable, Distributed, Low-Latency, High-Throughput Graph Database
							li.press__item: a(href="https://news.ycombinator.com/item?id=11934087" target="_blank").press__link Dgraph is a next generation graph database with GraphQL as the query language
							li.press__item: a(href="https://news.ycombinator.com/ item?id=11944969" target="_blank").press__link Scaling nodes in a Dgraph cluster
					// /.press-logo
	// /.press

	.blog-articles.is-loading.bg-dim
		.container
			.row
				.col-12
					h2.section-header Latest articles

					.blog-article.blog-article-0
						.meta
							a.title.link(href="#" target="_blank")
							.desc
						.action
							a.link(href="#" target="_blank") 
								| Read more
								i.fa.fa-angle-double-right
						
					.blog-article.blog-article-1
						.meta
							a.title.link(href="#" target="_blank")
							.desc
						.action
							a.link(href="#" target="_blank") 
								| Read more
								i.fa.fa-angle-double-right
						
					.blog-article.blog-article-2
						.meta
							a.title.link(href="#" target="_blank")
							.desc
						.action
							a.link(href="#" target="_blank") 
								| Read more
								i.fa.fa-angle-double-right

block additional-scripts
	// JavaScript files for Demo section

	script(src="assets/js/demo-section/angular/angular.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ext-language_tools.js")
	script(src="assets/js/demo-section/angular-ui-ace/ui-ace.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js")
	script(src="assets/js/demo-section/typeahead.min.js")
	script(src="assets/js/demo-section/Unminifed/app.js?v=20170504")
	script(type="text/javascript" src="assets/js/demo-section/jquery.appear.min.js")
	script(type="text/javascript" src="https://cdn.ravenjs.com/3.15.0/raven.min.js")
	script.
		Raven.config("https://b8060dd457e94b42ace70a3a899d0175@sentry.io/166298").install();
