/* ===========================================
   Page intro styling
   =========================================== */

.page-intro {

	&:not(.page-intro--homepage) {
		margin-top: 178px;
		margin-bottom: @spacing-base;
		@media screen and (min-width: @desktop-breakpoint) {
			// margin-top: @spacing-large;
			margin-top: 178px;
			margin-bottom: @spacing-large;
		}
	}

  // &:after {
  //   background: inherit;
  //   bottom: 0;
  //   content: '';
  //   display: block;
  //   height: 50%;
  //   left: 0;
  //   position: absolute;
  //   right: 0;
  //   transform: skewY(-1.5deg);
  //   transform-origin: 100%;
  //   z-index: -1;
  // }

	&__header {
		text-align: center;
	}

	&__header-content {
		position: absolute;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
	}

	&__nav-container {
		text-align: center;
		padding-top: 38px;
	}

	&__nav-list {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
    height: 100%;
    display: inline-block;
	}

	&__nav-item {
		display: inline-block;
    margin-bottom: 0;
    height: 100%;

		a {
			height: 100%;
	    display: inline-flex;
	    align-items: center;
	    padding: 0 13.5px;
			color: white;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 700;
	    letter-spacing: 0.5px;
		}

		a:hover {
			color: white;
		}
	}

	&__intro-section {
		padding-top: 70px;

		.diggy {
		  width: 324px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__logo {
    width: 259px;
    margin-top: 28px;
	}

	&__desc {
		margin-top: 29px;
		color: white;
		font-size: 16px;
		font-weight: 600;
	}

	&__title {
		text-transform: uppercase;
		font-size: 1.9em;
		font-weight: 800;
		margin-top: 20px;
		line-height: 1.2em;

		// @media screen and (min-width: @tablet-breakpoint) {
		// 	.font-size(38);
		// }
		// @media screen and (min-width: @desktop-breakpoint) {
		// 	.font-size(48);
		// }

		// Used on homepage
		&--emphasized {
			.font-size(28);
			font-weight: @font-weight-bold;
			text-transform: uppercase;
			letter-spacing: .02em;
			line-height: 1.3;
			color: @color-jaffa;
			@media screen and (min-width: @tablet-breakpoint) {
				.font-size(34);
			}
			@media screen and (min-width: @hd-breakpoint) {
				.font-size(50);
			}
		}

		// Used on blog pages
		&--blog {
			.font-size(28);
			font-weight: @font-weight-medium;
			line-height: 1.421052632;
			text-align: left;
			@media screen and (min-width: @tablet-breakpoint) {
				.font-size(34);
			}
			@media screen and (min-width: @hd-breakpoint) {
				.font-size(38);
			}
		}

		&--blog-category {
			display: block;
		}

	}

	&__lead {
		.font-size(@font-size-xlarge);
		font-weight: @font-weight-medium;
		text-align: center;
		color: @color-brand-secondary;
		margin-top: 30px;
	}

	&__actions {
		text-align: center;
    margin-top: 14px;
	}

	&__cta {
		padding: 12px 34px;

		&:not(:first-child) {
			margin-left: 13px;
		}
	}

	&__cta-learn {

	}

	// Used on homepage
	&__figure {

		&--logo {
			margin-top: 40px;
		}
	}

	// Used on single article
	&__footer {
		.clearfix();
		margin-top: 40px;
		padding-bottom: 15px;
		border-bottom: 2px solid @color-westar;
	}
}


.page-intro {

  &__main {
    background: linear-gradient(to bottom right, #ff6928, #ff0000);
    @media screen and (min-width: @desktop-breakpoint) {
      min-height: 740px;
    }
  }

	&--homepage {
		position: relative;
    z-index: 1;
		min-height: 450px;
		margin-bottom: 0;
		// background-image: url('../images/homepage/bg.svg');

		&__title {
			text-transform: uppercase;
			font-size: 1.9em;
			font-weight: 800;
			margin-top: 20px;
			line-height: 1.2em;
			color: white;
		}

		// .page-intro__lead {
	  //   display: inline-block;
		// 	@media screen and (min-width: @hd-breakpoint) {
		// 		width: 70%;
		// 	}
		// }
	}

	&--about {}

	&--careers {}

	&--contact {}

	&--blog {}

	&--blog-article {
		margin-bottom: @spacing-base;
	}
}

.bg-dim {
	background-color: #fafbfd;
}
