nav.page-header__header
	.container
		.page-header__content
			img.page-header__logo(src='assets/images/logo.png', alt='dgraph-logo')

			.page-header__actions
				ul.page-header__menu-list
					li.page-header__menu-item
						a(href="https://docs.dgraph.io" target="_blank") 
							span.label Docs
					li.page-header__menu-item
						a(href="https://open.dgraph.io" target="_blank")
							span.label Blog
					li.page-header__menu-item
						a(href="https://discuss.dgraph.io" target="_blank")
							span.label Forum
					li.page-header__menu-item
						a(href="https://slack.dgraph.io" target="_blank")
							span.label Slack

				a.page-header__cta.btn.btn-main.btn-cta(href="https://docs.dgraph.io/get-started/" target="_blank") Install

// / page-header
