.page-footer__wrapper
	footer#page-footer.page-footer
		.container
			.row
				.col-12
						nav.page-footer-nav
							ul.page-footer-nav__list
								li.page-footer-nav__item
									a(href="about.html" title="Learn more about us").page-footer-nav__link About
								li.page-footer-nav__item
									a(href="careers.html" title="See open positions").page-footer-nav__link Careers
								li.page-footer-nav__item
									a(href="contact.html" title="How can you reach us").page-footer-nav__link Contact
								li.page-footer-nav__item
									a(href="https://docs.dgraph.io", title="Download Dgraph." target="_blank").page-footer-nav__link.page-footer-nav__link--download Download


			.row
				.col-12
					.page-footer__social
						ul.page-footer__social-link-list
							li.page-footer__social-link-item
								a.twitter-follow-button(href='https://twitter.com/dgraphlabs', data-show-count='true') Follow @dgraphlabs
							li.page-footer__social-link-item
								a.github-button(href='https://github.com/dgraph-io/dgraph', data-show-count='true', aria-label='Star dgraph-io/dgraph on GitHub') Star

			.row
				.col-12
					span.imprint__copyrights Copyright &copy; 2017 Dgraph Labs, Inc.
	// / page-footer
// / page-footer__wrapper
